<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <appSettings>
      <!--serialPortLogFile:串口打印日志-->
      <add key="serialPortLogFile" value="logs\serialportlog.txt"/>
      <!--MainFormLogFile:主窗体日志-->
      <add key="MainFormLogFile" value="logs\mainlog.txt"/>
    </appSettings>
</configuration>
